<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/dfirewall/src/com/dcheck/dfirewall/Dfirewall.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.dcheck.dfirewall.Dfirewall"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="dfirewall"/>
</launchConfiguration>
